.oval-active-nav-pill .nav-link.active {
    border-radius: 50px; 
    background-color: black !important;
}

.gold-background {
    background-color: #FFC000;
    padding-top: 4px;
    padding-bottom: 4px;
}

.black-text .nav-link {
    color: black; 
}

.black-text .nav-link:hover {
    color: white; 
}
