.oval-active-nav-pill .nav-link {
    border-radius: 50px; 
    background-color: #FFC000; 
    color: black !important; 
    padding: 6px 12px; 
    margin-right: 4px; 
    border: none; 
    transition: background-color 0.3s, color 0.3s; 
}

.oval-active-nav-pill .nav-link.active {
    background-color: black !important; 
    color: white !important; 
}

.gold-background {
    background-color: #FFC000; 
    padding-top: 4px;
    padding-bottom: 4px;
}

.black-text .nav-link:hover {
    color: white; 
    background-color: #DAA520; 
}
