body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/*Multiple */
/*  Misc*/
.wd-general{
  padding: 10px;
}

.custom-image {
  width: 100px;
  padding: 10px;
}

.active-button {
  background-color: black;
  color: white;
  border-radius: 50px;
  padding: 5px 10px;
}

/*Banner backgrounds */
.gold-background {
  background-color: #FFC000;
}

.gold-background:nth-child(1), .gold-background:nth-child(2) {
  border-bottom: 1px solid black;
}

/*Navigation: Index */
.wd-home-icon {
  margin-right: 20px;
}



.wd-navigation a {
  background-color: #FFC000;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 0.8em;
  text-align: center;
  border: none;
}

.wd-navigation a.active {
  background-color: white;
  color: red;
}

/*HomeAnonymous: Index */
.large-banner-text {
  font-size: 1.4em;
  padding: 10px;
}

.wd-bottom-of-page{
  padding: 10px;
  margin-bottom: 30px;
}

/*HomeLoggedIn: Index */
.book-item {
  margin-right: 10px; /* Adjust the value as needed */
  margin-bottom: 10px; /* Adjust the value as needed */
}

.book-details {
  word-wrap: break-word;
}

.styles-for-posts {
 align-items: flex-start;
}

/*Profile: Index*/
/*  Page layout*/
.wd-grid-col-wide-column {
  width: 80%;
  float: left;
}
.wd-grid-col-narrow-column {
  width: 20%;
  float: left;
}
.wd-grid-col-right-panel {
  width: 20%;
  float: left;
  background-color: #004225;
  color: white;
  height: 100vh;
  align-items: flex-start;
}

/*Table formatting*/
.table-dark-blue-row {
  background: #004080 !important;
  color: white !important;
}




.table-profile {
  width: 100%;
}
.table-profile tr{
  border-bottom: 1px solid lightgrey;
  margin-bottom: 10px;
}


/*.table-profile-header-row th {*/
/*  background-color: #004080;*/
/*  color: white;*/
/*  padding: 5px;*/
/*  font-size: 1em;*/
/*  text-align: left;*/
/*}*/


/*Following/Follower list */
.follow_list {
  color: white;
  margin-bottom: 8px;
}